.top-header 
{
    background: #e48c22;
    padding: 0.2em 0em;
    height: 35px;;
}
.top-header img
{
    padding-right: 8px;
    padding-left: 2px;
}
.container 
{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row
{
    margin-right: 76px;
    margin-left: 81px;
    display: flex;

}
p{
    font-family: roboto;
    font-size: 15px;
    color:white;
}
.conatct img{
    padding-left: 10px;
}
.header{
    background-size: 100%;
    height: 77px;
    padding-top: -0.4em;
    background:aliceblue;
}
.col-lg-2
{
    width: 20%;
}
.col-lg-4
{
    width: 15%; 
}
.col-lg-7
{
    width: 59%;  
}
a
{
    font-family: roboto;
    font-size: 16px;
    color:white;
    text-decoration: none;  
}
.header-right ul li
{
    list-style-type: none;
    display: inline-block;
    color: #ffc716;
    font-size: 14px;
}
.img-responsive
{
    display: block;
    width: 100%;
    height: auto;
}
.col-lg-10
{
    width:5%;
}
.navbar-expand-xl .navbar-collapse
{
    display: flex !important;
    flex-basis: auto;
    flex-direction: row;
}
.nav-item
{
    padding-left: 35px;
    padding-top: 35px;
    list-style: none;
}
.navbar-nav
{
    margin-top:-5px;    
}
.ml-auto mx-auto
{
    margin-left: auto;
}
.slider
{
    width: 100%;
    padding: 0.1em 0em;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
}
.rec
{
    height: 312px;
    width: 275px;
    background-color: #e48c22;
    margin-top: -374px;
    margin-left: 861px;
    position: absolute;
    opacity: 90%;
    border-radius: 5%;
} 
.book
{ 
    position: absolute;
    width: 631px;
    top: 0em;
    right: 0em;
}
.form
{
    margin-left: 379px;
    margin-top: 25px;
}
.swap
{
margin-top:10px;    
}
.col-xs-12
{
border-radius: 10px;
}